:root{ 
  --green-background:#DAF7A6;
  --gray:#F2F3EF;
  --blue:#357AE4;

}

*{ 
  margin:0; 
  padding:0; 
}

body{ 
  background-color:var(--green-background);

}

.card{ 
    width:350px;
    background-color:white;
    margin:5em auto;
    padding:20px;
    display:grid; 
    grid-template-columns:1fr;
    grid-template-rows:3fr,repeat(6,1fr);
    justify-content:center; /*starts the content in the center*/
    justify-items:center; /*puts the actual items in the center*/
    
}



  img{ 
    width:200px; 
    height:200px;
    border-radius:50%;
    grid-column:1/2;
  }
  
  button{ 
  width:5em;
  border:none;
  border-radius:5px;
  background-color:var(--gray);
  padding:5px;
  margin-right:10px;
  margin-bottom:3px;

}

button:hover{ 
  background-color:var(--green-background);
}

.click{ 
  margin-bottom:10px;
}
  /*------------------------icons-------------------------------*/ 
  i{ 
    margin:3px;
    
  }
  
  .fa-heart{
    color:red;
  }
  
  .fa-linkedin-in{ 
    color:var(--blue); 
  }
/*==============================    Mobile   ======================*/

/*--------------------profile card-------*/
@media(max-width:370px){

body{ 
  background-color:antiquewhite;
}

img{ 
  height:150px;
  width:150px;
 
}

.card{
  background-color:orange;
  width:200px;
  
}

button:hover{ 
  background-color:antiquewhite;
}

}